/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

#about{
    background-color: rgb(46, 54, 61);
    color: rgb(247, 238, 238);
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    padding: 10px;
}

#about h2{
    background-color: rgb(46, 54, 61);
    color: rgb(247, 238, 238);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
}

#projects{
    background-color: rgb(46, 54, 61);
    color: rgb(247, 238, 238);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    padding: 5px;
}

#contact h2{
    background-color: rgb(46, 54, 61);
    color: rgb(247, 238, 238);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
}

#contact{
    background-color: rgb(46, 54, 61);
    color: rgb(247, 238, 238);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    margin: 30px auto 50px;
    width: 88%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #f7f1f1;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.flex-project {
    background-color: rgb(57, 68, 77);
}

button:hover{
    background: #333;
}

.projectDescription {
    display: none;
    font-size: small;
    color: beige;
}

.projectDescription2 {
    display: none;
    font-size: small;
    color: beige;
}

.projectDescription3 {
    display: none;
    font-size: small;
    color: beige;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.form-container{
    display: flex;
    justify-content: center;
    margin: 20px;
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
    header, footer {
        padding: 10px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    section {
        padding: 10px;
        margin: 10px;
    }
}